
/* * {
   color:brown
} */

h1{
   color: coral; 
}

/* button{
   color: rgb(40, 6, 92);
}

#heading1{
   color:chartreuse

}

#heading2{
   color: darkblue;
}
#heading3{
   color: hotpink;
} */

/* This for practice  */

#box {
   background-color:blue ;
}

.first{
   color: red;
}

#p2{
   text-align: center;

}

h2{
   text-decoration:line-through ;
   font-weight: 300;
   
}
